body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color:white;
}
a{
  color:white;
}

.like,
.dislike{
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
}

.like.liked {
  background-color: #4caf50;
  color: white;
}

.dislike.disliked{
  background-color:red;
  color: white;
}

.notification-badge {
  position: absolute;
  bottom: 5px;
  right: 13px;
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
}