.container{
    display: flex;
}

.friendsContainer{
    background-color: #333;
    padding: 20px;
    overflow-y: auto;
    height:inherit;

}

.friendsContainer h2{
    padding: 20px;
}

.friends {
    border: 1px solid white;
    width: calc(100%); 
    padding: 10px;
    margin-bottom: 10px; 
    background-color: #555; 
    color: white; 
}

.selectedFriend {
    background-color: #3B9EBF; 
    font-weight: bold; 
}

.chatContainer {
    flex: 3;
    display: flex; /* Set display to flex */
    flex-direction: column; /* Set flex direction to column */
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.currentUserMessage, .otherUserMessage {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: fit-content;
    word-wrap: break-word; /* Ensure long words wrap within the bubble */
}

.currentUserMessage {
    background-color: #77838F; /* Blue color for current user */
    color: white;
    align-self: flex-end; /* Aligns message bubble to the right */
}

.otherUserMessage {
    background-color: #3B9EBF; /* Gray color for other user */
    color: white;
    align-self: flex-start; /* Aligns message bubble to the left */
}

.sendMessage {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    border: 1px solid white;
    color: #fff;
    border-radius: 5px; /* Add border radius for rounded corners */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}