.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #657786;
  margin-top: 50px;
  position: relative;
  background-color: #657786;
}

.navbar {
  width: 100%; 
}

ul {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
  align-items: center;
}


.nav-item {
  cursor: pointer;
  border: none;
  width: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:15px;
  padding-bottom:15px;
}
.nav-item:hover {
  background-color: gray;

}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: row;
  }

  .navbar-nav.mr-auto {
    margin: 0;
  }

  .nav-item {
    width: auto;
    margin-right: 10px; 
  }
}







