
.search-results{

                display: flex;
                flex-direction: column;
                margin: 0 auto;

}

.user-posts {
        background-color: #333;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 80%;
      }
      
.user-posts h2 {
        color: #fff;
        font-size: 24px;
        margin-bottom: 15px;
      }
      
.user-posts p {
        color: #fff;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 20px;
      }

