.formContainer {
  max-width: 400px; 
  margin:1rem;
  font-size: 1.5rem;
}

.formContainer label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formContainer input[type="radio"] {
  margin-right: 5px;
}

.tag {
  display: inline-block;
  background-color: #77838F;
  color: #FFFFFF; 
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.tag-container {
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
