.formContainer {
    max-width: 400px;
}
  
.formContainer label {
  display: block;
  margin-bottom: 10px;
}

.formContainer input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.formContainer button[type="submit"]:hover{
  background-color: #45a049;
}

.formContainer .cancelButton {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.formContainer .cancelButton:hover {
  background-color: #da190b;
}

.errorMessage {
  color: red;
}
