.single-comment{
    margin-top: 20px;
}

.view-all-comments-button{
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
}

 .view-parent-button{
    background-color: #3B9EBF; 
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
}