.user-posts {
    margin-top: 20px;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50vw;
  }

.video-post-comments-section{
        background-color: #222;
        color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
        text-align: left; 
        width: 50%;
        overflow-y: auto;
}