.user-posts {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50vw;
  }

  .user-posts h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .user-posts p {
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .user-posts button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
  }


  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(53, 49, 49, 0.8)
  }
  
  .modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height:1.4;
    background: #171717;
    padding: 30px 30px;
    border-radius: 20px;
    max-width: 600px;
    min-width: 300px;
  }
  
  .modalContentContainer {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Add some spacing between each playlist */
  }
  
  .modalContentContainer h2 {
    margin-left: 10px; /* Add spacing between checkbox and playlist name */
  }